/* Estilos generales para el formulario */
.input-section {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 20px;
    background-color: blue;
    padding: 10px;
    border-radius: 5px;
}

.input-section form {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}

/* Estilo del input */
.input-section input[type="text"] {
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px 0 0 5px;
    width: 70%;
    background-color: #0056b3; /* Fondo azul */
    color: white; /* Texto blanco */
}

.input-section input[type="text"]::placeholder {
    color: #d9d9d9; /* Color del placeholder */
    
}

/* Estilo del botón */
.input-section button {
    padding: 10px 20px;
    background-color: black; /* Fondo negro */
    color: white; /* Texto blanco */
    font-size: 16px;
    border: none;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    text-transform: uppercase;
}

.input-section button:hover {
    background-color: #444; /* Cambia a gris oscuro al pasar el cursor */
}

/* Estilos para las publicaciones */
.post {
    background-color: #333; /* Fondo oscuro */
    color: white; /* Texto blanco */
    padding: 15px;
    margin: 10px auto;
    border: 7px solid blue; /* Borde azul */
    border-radius: 5px;
    width: 95%;
    max-width: 95%;
    word-wrap: break-word; /* Permite que las palabras largas se ajusten */
    overflow-wrap: break-word; /* Soporte adicional para navegadores modernos */
    max-height: 200px; /* Altura máxima */
    overflow-y: auto; /* Scroll vertical si el texto excede la altura */
    text-align: center;
}

/* Scroll estilizado */
.post::-webkit-scrollbar {
    width: 20px; /* Ancho del scroll */
}

.post::-webkit-scrollbar-thumb {
    background-color: blue; /* Color del scroll */
    border-radius: 4px;
}

.post::-webkit-scrollbar-thumb:hover {
    background-color: blue; /* Color del scroll al pasar el cursor */
}

/* Estilo grande para computadoras */
@media (min-width: 768px) {
    .input-section input[type="text"] {
        font-size: 20px;
        width: 100%;
        background-color: blue; /* Azul más oscuro */
    }

    .input-section button {
        font-size: 20px;
    }
}

/* Estilo pequeño para dispositivos móviles */
@media (max-width: 768px) {
    .input-section {
        flex-direction: column;
    }

    .input-section input[type="text"] {
        font-size: 14px;
        width: 100%;
        margin-bottom: 10px;
        border-radius: 5px;
        background-color: blue;
    }

    .input-section button {
        font-size: 14px;
        width: 100%;
        border-radius: 5px;
    }
}
